.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 27px;
  width: 180px;
  border-bottom: 1px solid $red-main;
  margin-right: 20px;
  input[type="search"] {
	width: auto;
	flex-grow: 1;
  }
  input[type="submit"] {
	-webkit-appearance: none;
	width: 20px;
	background-image: url("../iconsall/search.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
	background-color: transparent;
  }
}

//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="tel"],
div.wpcf7 input[type="email"],
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 textarea {
  height: 122px;
  margin-bottom: 9px;
  padding: 11px 9px;
}
div.wpcf7 input[type="submit"] {
  @include input-style;
  @include submit-style;
  background-image: url("../iconsall/arrow-left.png");
}
.foo-form-block {
  position: relative;
  padding: 50px 0;
  background-color: #ffffff;
}
.foo-top-line {
  position: absolute;
  width: 100%;
  bottom: calc(100% - 1px);
  z-index: 6;
}
.pop-form-title, .pop-form-subtitle {
  text-align: center;
}
.pop-form-title {
  color: $text-main;
  font-size: size(25);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(28);
}
.pop-form-subtitle {
  @include base-small-text;
  color: $red-main;
  font-weight: 400;
  margin-bottom: 19px;
}
.form-item-wrap {
  padding: 16px size(40) !important;
  @media (max-width: 576px) {
	padding: 16px !important;
  }
  div.wpcf7 input[type="submit"] {
	margin-bottom: 0;
  }
}
