/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1600px) {
  html {
	font-size: 20px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 16px;
  }
  .container {
	max-width: 65%;
  }
  .footer-main {
	.container {
	  max-width: 80%;
	}
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 18px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  #MainNav {
	ul{
	  li{
		justify-content: flex-start;
		flex-direction: column;
		a{
		  justify-content: flex-start;
		  border: none !important;
		}
	  }
	}
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
}
@media (min-width: 993px) {
  .back-to-menu, .sub-head {
	display: none !important;
  }
  #MainNav{
	li.menu-item-has-children {
	  position: relative;
	  &:hover {
		ul.sub-menu {
		  opacity: 1;
		  height: auto !important;
		  pointer-events: auto;
		}
	  }
	}
	ul.sub-menu {
	  position: absolute;
	  pointer-events: none;
	  padding: 20px;
	  z-index: 999;
	  opacity: 0;
	  top: 100%;
	  min-width: 200px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  box-shadow: 1px 2px 9px 1px rgba(82, 83, 83, 0.27);
	  background-color: #ffffff;
	  border-top: 5px solid $red-main;
	  transition: opacity ease-out .5s;
	  li {
		padding: 0;
	  }
	  li a {
		color: $text-main;
		font-size: size(18);
		font-weight: 400;
		border: none;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(20);
		text-align: center;
		margin-bottom: 15px;
		transition: color ease-out .5s;
		&:hover {
		  color: $red-main;
		}
	  }
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 950px) {

}
