body{
  font-family: Almoni, sans-serif;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.page-title {
  @include giant-title;
}
.base-output {
  &.centered {
	* {
	  text-align: center;
	}
  }
  &.white-output {
	p, li, strong {
	  color: #ffffff;
	}
  }
  &.page-output {
	h1, h2, h3, h4, h5, h6 {
	  color: $text-main;
	}
  }
  h1 {
	@include big-title;
  }
  h2 {
	@include base-title;
	margin-bottom: 0;
  }
  h3 {
	@include mid-title;
	margin-bottom: size(37);
  }
  h4 {
	@include item-title;
  }
  h5 {
	font-size: size(23);
	line-height: size(26);
  }
  h6 {
	font-size: size(21);
	line-height: size(25);
  }
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	margin-bottom: size(16);
  }
  p, li {
	@include base-text;
	color: $text-main;
  }
  p {
	margin-bottom: size(30);
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
  img {
	width: 100%;
  }
  strong {
	font-weight: 800;
  }
}
.base-output-cards {
  h2 {
	@include big-title;
  }
  h3 {
	@include base-title;
	margin-bottom: 0;
  }
  h4 {
	@include mid-title;
	margin-bottom: size(37);
  }
  h5 {
	@include item-title;
  }
  h6 {
	font-size: size(23);
	line-height: size(26);
  }
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	margin-bottom: size(20);
	font-weight: 400;
  }
  p, li {
	@include base-text;
	color: $text-main;
  }
  p {
	margin-bottom: size(30);
  }
}
.base-output.page-output {
  h1 {
	color: $red-main;
  }
}
.figure-title {
  @include giant-title;
  font-family: $liddar;
  margin-bottom: 30px;
  &.colored {
	color: $text-main;
  }
  @media (max-width: 768px) {
	font-size: size(35);
	line-height: size(45);
  }
}
.base-link, .regular-link {
  @include d-center;
  @include base-text;
  padding: 5px 30px 5px 44px;
  min-width: 125px;
  height: 32px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}
.base-link {
  color: $title-color !important;
  background-color: $blue-main;
  background-position: 5px center;
  background-image: url("../iconsall/arrow-dark-left.png");
  background-size: 14px;
  background-repeat: no-repeat;
  transition: background-position ease-out .5s;
  &.cat-link {
	height: 29px;
  }
  &:hover {
	background-position: 2px center;
  }
}
.regular-link {
  padding: 5px 20px;
  background-color: $red-main;
  color: #ffffff!important;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $blue-main;
  }
  &.more-link {
	.fas {
	  color: #ffffff;
	}
  }
}
.main-slider {
  .regular-link {
	background-position: 18px center;
	padding: 5px 30px 5px 44px;
	background-image: url("../iconsall/arrow-left.png");
  }
}
.more-link {
  cursor: pointer;
  .fas {
	color: $red-main;
  }
  &.hide {
	display: none;
  }
}
.more-link-cards {
  border: 3px solid #6c1c29;
  background-color: #ffffff;
  background-image: none !important;
  padding: 5px 50px;
  margin-top: 26px;
  img {
	margin-right: 15px;
  }
  &.loading {
	img {
	  display: none;
	}
  }
}

.form-title, .form-subtitle {
  color: #2d2d2d;
  font-weight: 700;
  text-align: center;
}
.form-title {
  @include base-title;
  font-style: normal;
  letter-spacing: normal;
  margin-bottom: 10px;
}
.form-subtitle {
  @include base-small-text;
  margin-bottom: size(28);
}

.homepage-main-text {
  h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
  }
  h1 {
	font-size: size(53);
	line-height: size(60);
  }
  h2 {
	@include big-title;
  }
  h3 {
	@include base-title;
  }
  h4 {
	@include mid-title;
  }
  h5 {
	@include item-title;
  }
  h6 {
	font-size: size(23);
	line-height: size(26);
  }
  p, li {
	font-size: size(27);
	line-height: size(30);
	font-weight: 700;
	color: $text-main;
  }
}
