body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;
@import "settings/colors";
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
div.wpcf7 input[type="submit"] {
  background-image: url("../iconsall/arrow-right.png");
  background-position: calc(100% - 20px);
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="tel"],
div.wpcf7 input[type="email"] {
  padding-left: 50px;
  padding-right: 9px;
  background-position: 9px center;
}
.foo-title {
  &:after {
	right: unset;
	left: 0;
  }
}
#go-top {
  right: unset;
  left: 5%;
}
.base-link {
  padding: 5px 44px 5px 30px;
  background-position: calc(100% - 5px) center;
  background-image: url("../iconsall/arrow-dark-right.png");
  &:hover {
	background-position: calc(100% - 2px) center;
  }
}
.more-link-cards {
  img {
	margin-left: 15px;
	margin-right: 0;
  }
}
.post-card-link {
  background-image: url("../iconsall/arrow-right.png");
}
.search-form {
  margin-right: 0;
  margin-left: 20px;
}
.question-item {
  direction: ltr;
}
.main-slider {
  .regular-link {
	padding: 5px 44px 5px 30px;
	background-image: url("../iconsall/arrow-right.png");
	background-position: calc(100% - 18px) center;
  }
  .container {
	direction: ltr;
  }
}
.bottom-main {
  transform: scale(-1, 1);
}
.home-main-block .slick-dots {
  right: unset;
  left: 15px;
}
//Treatments
.treatments-output {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.card-category {
  &:nth-child(even) {
	padding-left: 10px !important;
	padding-right: 0 !important;
	@media (max-width: 768px) {
	  padding: 0 !important;
	}
  }
  &:nth-child(odd) {
	padding-left: 0 !important;
	padding-right: 10px !important;
	@media (max-width: 768px) {
	  padding: 0 !important;
	}
  }
  @media (max-width: 768px) {
	padding: 0 !important;
	margin-bottom: 10px;
  }
}




//MEDIA QUERIES
@media (min-width: 993px) {
  #MainNav{
	ul{
	  li{
		a{
		  border-right: 1px solid $red-main;
		  border-left: none !important;
		}
		&:last-child a {
		  border-right: none;
		}
	  }
	  &.menu-item-has-children {
		ul a {
		  border: none !important;
		}
	  }
	}
  }
}
@media (max-width: 992px) {
  #MobNavBtn, nav#MainNav {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  #MobNavBtn {
	right: unset;
	left:100%;
  }
  nav#MainNav {
	right: unset;
	left:-200px;
  }
  nav#MainNav.active {
	left:0;
	right: unset;
  }
  nav#MainNav div.main_menu ul.active .back-to-menu:after,
  nav#MainNav div.main_menu ul li.menu-item-has-children:after {
	left: unset;
	right: 10px;
  }
}
