.animal-block {
  background-color: $title-color;
  padding: 40px 0;
  background-image: url("../img/animal-block-back.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  .white-output {
	h1, h2, h3, h4, h5, h6 {
	  color: #ffffff;
	}
  }
  @media (max-width: 992px) {
	padding: 100px 0 40px 0;
  }
  @media (max-width: 992px) and (min-width: 768px){
	background-image: none;
  }
}
.image-animals-col {
  img {
	width: 100%;
  }
  @media (max-width: 992px) {
	margin-top: 2rem;
  }
}
.red-back-block {
  .animal-block {
	padding: 40px 0 100px 0;
	@media (max-width: 992px) {
	  padding: 100px 0;
	}
  }
}
