//Post card
.post-output-col {
  padding: 0 5px;
  margin-bottom: 50px;
  .post-card {
	padding: 0;
  }
  @media (max-width: 576px) {
	padding: 0 15px;
  }
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  padding: 6px;
}
.post-card-image {
  @include d-center;
  position: relative;
  border-radius: 15px;
  border: 2px solid $red-main;
  background-color: $blue-main;
  @include back-img;
  width: 100%;
  margin-bottom: 20px;
  &:after {
	display: block;
	content: '';
	padding-bottom: 90.82%;
  }
}
.post-card-title {
  @include item-title;
  font-weight: 700;
  color: $red-main;
  transition: color ease-out .5s;
}
.post-card-link {
  align-self: flex-start;
  color: #ffffff !important;
  background-image: url("../iconsall/arrow-left.png");
  margin-top: 15px;
}
.card-text {
  @include base-text;
  color: $title-color;
}
.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}
.card-content-wrapper {
  flex-grow: 1;
}
.card-member {
  .base-link {
	align-self: flex-start;
	margin-top: 15px;
  }
  .post-card-image {
	border: 2px solid #ffffff;
	margin-bottom: 6px;
  }
  .post-card-title {
	color: #ffefeb !important;
  }
}
.card__member-text {
  @include card-text;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}
//Treatments
.treatments-output {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.card-category {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 10px;
  &:nth-child(even) {
	padding-left: 0 !important;
  }
  &:nth-child(odd) {
	padding-right: 0 !important;
  }
  @media (max-width: 768px) {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 !important;
	margin-bottom: 10px;
  }
}
.card__category-item {
  position: relative;
  @include back-img;
  @include d-center;
  padding: 10% 20%;
  height: 100%;
  &:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(30, 0, 0, 0.4);
  }
  &:after {
	content: '';
	display: block;
	padding-bottom: 39%;
  }
  @media (max-width: 1200px) and (min-width: 768px){
	padding: 10%;
  }
}
.card__category-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  z-index: 2;
  .base-link {
	margin-top: 15px;
	align-self: flex-end;
  }
}
.card__category-name {
  @include mid-title;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 5px;
}
.card__category-text {
  @include base-small-text;
  color: #ffefeb;
  font-weight: 400;
}
//Card animal
.col-animal {
  margin-bottom: 32px;
}
.card-animal {
  position: relative;
  @include d-center;
  width: 100%;
  border-radius: 15px;
  border: 2px solid $red-main;
  background-color: #ffffff;
  overflow: hidden;
  &:after {
	content: '';
	display: block;
	padding-bottom: 111.44%;
  }
  &:hover img {
	transform: scale(1.1);
  }
}
.image-animal {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: unset;
  transition: all ease-out .5s;
}

//Category page
.col-category {
  margin-bottom: 20px;
}
.card__category-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 15px;
  border: 2px solid $red-main;
  background-color: $blue-main;
  @include back-img;
  height: 100%;
  overflow: hidden;
  &:after {
	content: '';
	display: block;
	padding-bottom: 91%;
  }
  &:hover {
	.posts__cat-items {
	  opacity: 1;
	  pointer-events: all;
	}
  }
}
.card__cat-overlay {
  @include overlay;
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.85;
}
.card__cat-page-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  height: 100%;
  width: 100%;
  padding: 40px 10%;
  @media (max-width: 1600px) and (min-width: 992px){
	padding: 20px 5%;
  }
  @media (max-width: 768px) {
	padding: 20px;
  }
}
.card__cat-page-name {
  font-size: size(32);
  line-height: size(37);
  color: #ffffff !important;
  text-align: center;
  margin-top: 10px;
  @media (max-width: 1600px) and (min-width: 992px){
	font-size: size(25);
	line-height: size(30);
  }
  @media (max-width: 768px) {
	font-size: size(25);
	line-height: size(30);
  }
}
.post__inside-link {
  @include mid-title;
  color: #ffffff !important;
  text-align: center;
  font-weight: 400;
  padding: 10px;
  border-radius: 27px;
  border: 2px solid transparent;
  transition: border ease-out .5s;
  &:hover {
	border: 2px solid #ffffff;
  }
  @media (max-width: 1600px) and (min-width: 992px){
	font-size: size(18);
	line-height: size(20);
  }
  @media (max-width: 768px) {
	font-size: size(18);
	line-height: size(20);
  }
}
.posts__cat-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  opacity: 0;
  pointer-events: none;
  transition: all ease-out .5s;
}
