.top-overlay {
  @include overlay;
  background-color: rgba(32, 0, 0, 0.2);
}
.top-block {
  position: relative;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  @include d-center;
  margin-bottom: 40px;
  @media (min-width: 1600px) {
	height: 360px;
  }
}
.animal-cards-page .top-block {
  background-image: url("../img/animals-top.png");
}
.blog-body .top-block {
  background-image: url("../img/blog-top.png");
}
.treatments-page {
  margin-bottom: 100px;
  .top-block {
	background-image: url("../img/therapy-top.png");
  }
}
.article-page-body {
  .top-block {
	background-position: center;
	background-image: url("../img/post-top.png");
  }
}
