.footer-main {
  position: relative;
  padding: 105px 0;
  background-color: $title-color;
}
.foo-back {
  background-image: url("../img/footer-back.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.foo-title {
  @include base-text;
  color: #ffffff;
  font-style: normal;
  letter-spacing: normal;
  margin-bottom: 15px;
}
.menu-border-top {
  padding-top: 10px;
  border-top: 1px solid #ffefeb;
}
footer {
  position: relative;
  li {
	a {
	  display: flex;
	  @include foo-menu;
	  color: #ffffff !important;
	  transition: text-shadow .5s;
	  &:hover {
		text-decoration: underline;
	  }
	}
  }
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 15%;
}
#go-top {
  position: absolute;
  right: 5%;
  top: -200px;
  border-radius: 50%;
  @include d-center;
  width: size(48);
  height: size(48);
  flex-direction: column;
  background-color: $red-main;
  cursor: pointer;
  z-index: 8;
  img {
	width: size(20);
  }
  @media (max-width: 1200px) {
	top: -350px;
  }
  @media (max-width: 767px) {
	top: -50px;
  }
}
