header {
  &.fixed {
	.logo img {
	  max-height: size(43);
	}
  }
  .logo {
	@include d-center;
	img {
	  max-height: size(93);
	}
  }
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  padding: size(37) 0;
	  @media (max-width: 1600px) {
		padding: size(17) 0;
	  }
	  a{
		@include d-center;
		color: $red-main;
		font-size: size(24);
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(28);
		text-align: center;
		padding: 0 10px;
		border-left: 1px solid $red-main;
		&:hover {
		  color: $blue-main;
		}
	  }
	  &:last-child a {
		border-left: none;
	  }
	}
  }
}
.pop-form, .pop-form-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.68);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
  .block-title, .block-subtitle {
	color: #ffffff;
	text-align: center;
  }
  .block-subtitle {
	font-size: size(28);
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-form-search {
  position: relative;
  width: 100%;
  max-height: 100vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
  &.show-float-form{
	opacity: 1;
	transform: translateX(0);
  }
}
.pop-form-back {
  position: relative;
  background-image: url("../img/pop-back.png");
  background-position: left center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10% 15% 10% 20%;
}
.close-form {
  position: absolute;
  right: 7%;
  top: 10%;
  cursor: pointer;
  color: #ffffff;
  font-family: $almoni;
  font-size: size(29);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: left;
  text-transform: uppercase;
}
.pop-trigger, .social-item {
  cursor: pointer;
  margin-bottom: 12px;
  img {
	width: size(35);
  }
}
.triggers-col {
  position: fixed;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 9999;
  bottom: 20%;
}
.pop-trigger {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../iconsall/contact-pop-pages.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: size(86);
  height: size(100);
  margin-left: -5px;
  &.front-back {
	background-image: url("../iconsall/contact-pop.png");
  }
}
