.reviews-block-wrap, .form-item-wrap {
  border-radius: 15px;
  border: 2px solid $blue-main;
  padding: 16px;
}
//Reviews
.review-name, .review-description {
  color: $title-color;
  font-size: size(19);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: center;
  margin-bottom: 10px;
}
.review-description {
  color: #600020;
  font-weight: 400;
}
.review-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 40px 10%;
}
.review-prev {
  color: #000000;
  font-family: $liddar;
  font-size: size(36);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(48);
  text-align: center;
  @media (max-width: 576px) {
	font-size: size(25);
	line-height: size(35);
  }
}
.rev-pop-trigger {
  position: absolute;
  @include d-center;
  width: size(33);
  height: size(31);
  border-radius: 5px;
  color: #600020;
  font-weight: 700;
  text-align: center;
  border: 3px solid #600020;
  font-size: size(28);
  z-index: 9;
  top: 15px;
  left: 15px;
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: 15px;
  }
}
#reviews-pop-wrapper {
  z-index: 2222;
}
#reviewsModal {
  .modal-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	border: 2px solid #00ced1;
	padding: 40px;
	@media (max-width: 576px) {
	  padding: 40px 20px;
	}
  }
  .modal-content .close {
	@include d-center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	right: 10px;
	width: size(33);
	height: size(31);
	border-radius: 5px;
	background-color: transparent;
	border: 3px solid $red-main;
	.fa-times {
	  color: $red-main;
	  font-size: 1rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//Video
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	@include d-center;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
