//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(14);
	background-color: $blue-main;
	width: size(32);
	height: size(32);
	border-radius: 50%;
	z-index: 99;
	top: 150px;
	@media (max-width: 650px) {
	  top: 40%;
	}
	@media (max-width: 576px) {
	  top: 30%;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
	left: -80px;
	@media (max-width: 1350px) {
	  left: -32px;
	}
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
	right: -80px;
	@media (max-width: 1350px) {
	  right: -32px;
	}
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.steps-block, .reviews-block {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 50% !important;
	background-color: $red-main;
  }
  @media (max-width: 576px) {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: 91% !important;
	  z-index: 99;
	}
	[dir="rtl"] .slick-next {
	  right: unset;
	  left: 40%;
	}
	[dir="rtl"] .slick-prev {
	  right: 40%;
	  left: unset;
	}
  }
}
.reviews-block {
  @media (max-width: 576px) {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: 96% !important;
	}
  }
}
//.team__slider-block {
//  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
//	top: 105%;
//  }
//}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	bottom: -2rem;
  }
  [dir="rtl"] .slick-next {
	left: unset;
	right: size(101);
  }
  [dir="rtl"] .slick-prev {
	left: unset;
	right: 0;
  }
}
.base-slider-block {
  position: relative;
  padding: 58px 0;
  background-color: $text-main;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-posts-block, .team__slider-block, .steps-slider {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}

//Reviews
.reviews-block {
  padding: 64px 0 130px 0;
}
