.dark-treatments-back {
  background-color: $text-main;
  padding: 77px 0 122px 0;
  margin-top: 40px;
  .base-output {
	p, li {
	  color: #ffffff;
	  font-size: size(17);
	  line-height: size(25);
	}
  }
  .regular-link {
	margin-bottom: 34px;
  }
  .home-posts-block {
	padding: 0 !important;
  }
}
.treatments-home-block {
  .figure-title {
	color: $text-main;
  }
  .home-posts-block {
	padding: 0 !important;
	margin-bottom: 0 !important;
  }
}
