.dark-slider-back {
  position: relative;
  z-index: 4;
  background-color: $text-main;
  padding: 10px 0 80px 0;
  .post-card-title, .card-text {
	color: #ffffff;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-color: $blue-main;
  }
  .base-output {
	p, li, strong {
	  color: #ffffff;
	}
  }
}
.steps-block {
  margin-top: 60px;
  margin-bottom: 60px;
}
.thank-you-text {
  @include block-title;
  margin-top: -20px;
  margin-bottom: 20px;
  @media (max-width: 576px) {
	margin-top: 0;
  }
}
.steps-text-output {
  h2 {
	@include block-title;
  }
  h2, h3, h4, h5, h6 {
	color: $red-main;
	font-weight: 700;
	margin-bottom: 10px;
  }
  p, li {
	@include item-title;
	color: $text-main;
	text-align: center;
	font-weight: 700;
	margin-bottom: 20px;
  }
}
.steps-slider {
  margin-bottom: -80px;
  margin-top: 30px;
}
.question-item {
  position: relative;
  @include d-center;
  width: 100%;
  border-radius: 23px;
  border: 2px solid $red-main;
  background-color: #ffffff;
  padding: 10px 15%;
  @media (max-width: 1600px) and (min-width: 1024px){
	padding: 10px 5%;
  }
  &:after {
	content: '';
	display: block;
	padding-bottom: 105%;
  }
}
.question-number {
  position: absolute;
  z-index: 9;
  @include d-center;
  top: -80px;
  width: size(148);
  height: size(148);
  border-radius: 23px;
  background-color: $blue-main;
  color: #ffffff;
  font-size: size(130);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(135);
  text-align: center;
  @media (max-width: 1600px) and (min-width: 1024px){
	top: -50px;
	width: size(108);
	height: size(108);
	font-size: size(90);
	line-height: size(95);
  }
  @media (max-width: 992px){
	top: -50px;
	width: size(108);
	height: size(108);
	font-size: size(90);
	line-height: size(95);
  }
}
.question-title {
  @include mid-title;
  font-weight: 400;
  text-align: center;
  color: $text-main;
  @media (max-width: 992px) {
	@include item-title;
  }
}
.steps-slide {
  padding: 80px 12px;
}
