.home-main-block {
  position: relative;
  .slick-slider .slick-track, .slick-slider .slick-list {
	height: 100%;
  }
  .slide-main {
	@include back-img;
	height: 100%;
	padding: 200px 0 250px 0;
	background-color: $red-main;
  }
  .slide-video {
	overflow: hidden;
	padding: 200px 0 250px 0;
	@include d-center;
	position: relative;
	height: 100%;
	video {
	  position: absolute;
	  min-height: 100%;
	  min-width: 100%;
	  object-fit: cover !important;
	}
  }
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	top: 0;
	@include d-center;
	flex-direction: column;
	height: 100%;
	width: auto;
	right: 15px;
	z-index: 9999;
	@media (max-width: 576px) {
	  justify-content: flex-end;
	  padding-bottom: 100px;
	}
  }
  ul.slick-dots {
	li {
	  margin: 6px 0;
	  button {
		@include d-center;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $red-main;
		opacity: 1 !important;
		@media (max-width: 650px) {
		  width: 14px;
		  height: 14px;
		}
		&:before {
		  top: unset;
		  left: unset;
		  color: #ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: #ffffff;
  }
}
.bottom-main {
  position: absolute;
  bottom: -2px;
  width: 100%;
  z-index: 9;
  //@media (max-width: 768px) {
	//bottom: 20px;
  //}
}
//Homepage
.about-block {
  .base-output {
	h1, h2, h3, h4, h5, h6 {
	  color: $title-color;
	}
	h3, h4, h5, h6 {
	  margin-bottom: 0;
	}
  }
}
.custom-bookly-block {
  padding: 70px 0;
}
.registration-title {
  color: $red-main;
  font-size: size(40);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(45);
  text-align: center;
  margin-bottom: 30px;
}
//About block
.about-block {
  padding-top: 70px;
}
.benefit-col {
  margin-bottom: 38px;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.benefit-img-wrapper {
  @include d-center;
  height: size(200);
  margin-bottom: 13px;
  img {
	max-height: 100%;
  }
}
.benefit-title {
  @include mid-title;
  color: $red-main;
  text-align: center;
}

//Members
.team__slider-block {
  padding: 118px 0 50px 0;
  background-image: url("../img/team-background.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
//Home posts
.home-posts-block {
  margin: 90px 0;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-color: $red-main;
  }
  @media (max-width: 1350px) and (min-width: 768px) {
	padding: 0 50px;
  }
  @media (max-width: 576px) {
	padding: 0 30px;
  }
}
