.sticky-form {
  position: sticky;
  top: 0;
  z-index: 999;
  @media (min-width: 993px) {
	max-width: 360px;
  }
}
.trigger-wrap {
  position: relative;
  margin: 34px 0;
}
.all-socials {
  position: absolute;
  display: flex;
  top: 100%;
  right: 2rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity .5s;
  &.show-share {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.social-item {
  @include d-center;
  width: size(30);
  height: size(30);
  margin: 0 3px;
  transition: background-color .5s;
  .fa-brands, .fa-solid {
	color: $red-main;
	font-size: 1rem;
  }
}
.social-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.social-item-text {
  @include base-text;
  font-weight: 700;
  color: $red-main;
  margin: 0 15px;
}
.video-description {
  margin: 24px 0;
  color: $text-main;
  font-size: size(25);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(28);
}
.video-trigger-wrap {
  position: relative;
  height: 460px;
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
}
.play-button {
  @include d-center;
  cursor: pointer;
  @include overlay;
  img {

  }
}
